* {
    font-family: var(--main-font);
    box-sizing: border-box;
}

body {
    background-color: var(--special-tan);
}

:root {
    --special-pink: #CC76A1;
    --special-green: #588157;
    --special-tan: #FFFFFA;
    --pink-hover: #c78aa9;
    --footer-tan: #fffffac5;
    --footer-hover: #fffffaf0;
    --main-font: Manrope, sans-serif;
    --subscribe-color: rgb(240, 240, 240);
    --icon-size: 1.875rem;
}
